<div class="modal-header">
<h3>Edit Order Items</h3>
</div>

<div class="modal-dialog">
  <div class="modal-content">
    <h3 class="text-center">Additional Services</h3>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3" id="service_list">
          <ul>
        <% @services.each do |service| %>
            <%= render :partial => 'service_agreements/clickable_services_row', locals: {service: service, agreement: @agreement, order_item: @order_item, order: @order } %>
        <% end %>          
          </ul>
      </div>
    </div>
    <div class="modal-footer">
        <%= link_to "Back to Service Order", "#", 
            class: "btn", 
            data: {dismiss: "modal"}, 
            class: "btn btn-primary" %>
    </div>

  </div>
</div>

