<h1></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Email</th>
      <th>Pay type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.service_agreement.account.name %></td>
        <td><%= order.service_agreement.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
<!-- START_HIGHLIGHT -->
<p><%# paginate @orders %></p>
<!-- END_HIGHLIGHT -->
