<strong>Location</strong>
<div class="row">
  <div class="col-md-6">
      Street
  </div>
  <div class="col-md-6">
    <%= "#{@address.street_one}" %>
</div>

  <div class="col-md-6">
      Street
  </div>
  <div class="col-md-6">
    <%= "#{@address.street_two}" %>
</div>

  <div class="col-md-6">
      City, State, Zip
  </div>
  <div class="col-md-6">
    <%= "#{@address.city} #{@address.state}  #{@address.postal_code}" %>
</div>
