<% if @order %>
    <div class="row">
    <%= render :partial => "service_agreements/order_item", 
        :collection => @order.order_items if @order.order_items.count > 0 %>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        ==============
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>SUBTOTAL</p>
        </div>
    <div class="col-md-6">
        <%= "$#{@order.subtotal}" %>
    </div>
<% end %>
