<% @order.order_items.each do |item| %>
<div class="row">
    <div class="col-md-6">
        <%= "#{item.service.name}" %>
    </div>
    <div class="col-md-6">
        <%= "$#{ item.total_price}" %>
    </div>
</div>
<% end %>
<div class="row">
    <p>=================</p>
</div>
<div class="row">
<div class="col-md-6">
    <p>SUBTOTAL</p>
</div>
<div class="col-md-6">
    <%= "$#{@order.subtotal}" %>
</div>
