<%# form_for(current_order) do |f| %>
<div id="agreement_id_hidden_field_goes_here">
    <%# f.hidden_field :service_agreement_id, :value =>  agreement.id %>
    
</div>

  <%# f.submit "Attach to Agreement", :class => 'btn btn-lg btn-primary btn-block' %>
<%# end -%>
