<div class="well"%>

  <div class="row">
    <div class="col-xs-8">
      <h4><%= service.name %></h4>
    </div>
    <div class="col-xs-4">
            <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency service.price %></span></h4>
            <div class="input-group" id="<%= "service_" + service.id.to_s %>">
                <%= render :partial => 'services/clickable_create_form', locals: {service: service, agreement: agreement, order_item: order_item } %>

            </div>
    </div>

  </div>
</div>
