    <li>
        <%= "#{service_address.street_one}" %><br />
        <%= "#{service_address.street_two}" %><br />
        <%= "#{service_address.city}  #{service_address.state}  #{service_address.postal_code}" %><br />
    </li>
