<div id="fieldtech_name" class ="row">
    <table class="table table-bordered">
        <tr>
            <td>
                <p><strong>Field Technician</strong></p>
                <em><%= current_user.name %></em>
            </td>
        </tr>
    </table>
</div>
