                    <h2>Pests Covered</h2>
Little Black Ant<br />
Pharaoh Ant<br />
Velvety Tree Ant<br />
Odorous House Ant<br />
Harvester Ant<br />
Field Cricket<br />
House Cricket<br />
Earwig Pillbug/Sowbug<br />
Black Widow Spider<br />
Brown Recluse Spider<br />
Wolf Spider<br />
Orb Weaver Spider<br /> 
House Spider<br />
Cellar Spider<br />
Jumping Spider<br />
Camel Spiders<br />
Trapdoor Spider<br />
American Dog Tick<br />
Brown Dog Tick<br />
Paper Wasp<br />
Mud Dauber Wasp<br />
Yellow Jacket<br />
American Cockroach<br />
German cockroach<br />
Brown-Banded Roach<br />
Oriental Cockroach<br />
Smokey-Brown Roach<br />
Cat Flea<br />
Dog Flea Scorpion               
