<div class="row container">
    <div class="row" id="payment_info_box">
        <div class="col-md-6">
            <strong>Payment Information</strong>
        </div>
        <div class="col-md-6">
            [payment]  [Credit Card] [Check]
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>initial Charge</strong>
        </div>
        <div class="col-md-4">
            [209.50] _______________
        </div>
        <div class="col-md-5">
            Date ________________
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <strong>Recurring Charge</strong>
                </div>
                <div class="col-md-8">
                    [149.00 ____________]
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        [Monthly]
                    </div>
                    <div class="col-md-3">
                        [Bi Monthly]
                    </div>
                    <div class="col-md-3">
                        [Quarterly]
                    </div>
                    <div class="col-md-3">
                        [Pay in full]
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    If for some reason I am not able to fulfill the 12 month Agreement, I agree to pay an early termination fee of $95
                </div>
            </div>
        </div>
        <div class="col-md-4">
                [initial here]
                [initial here]
        </div>
    </div>
</div>
                      <%= link_to "Edit", edit_payment_arrangement_path(@arrangement), remote: true, class: "btn btn-primary" if @arrangement %>
