<ul>
    <li><%= "Card Number: #{PaymentMethod.mask_card_number(payment_method.card_number)}"  %></li>
    <li>Expiration: <%= payment_method.expiration %></li>
    <li>CVC: <%= payment_method.cvc %></li>
</ul>
