<div class="row">
Service Agreement (part 2)
</div>
<div class="row">
    <div class="col-md-4" id="agreement_attachment_button_column">

 <%#= render :partial => 'agreement_attachment_button', locals: {agreement: @agreement, current_order: @order} %>
 
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <div class="demo">
            
        </div>
    </div>
        
</div>
        <p class="cart-text"><%#= render 'layouts/cart_text' %></p>
<h3 class="text-center">Additional Services</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3" id="service_list">
      <ul>
    <% @services.each do |service| %>
        <%#= render :partial => 'clickable_services_row', locals: {service: service, agreement: @agreement, order_item: @order_item } %>
    <% end %>          
      </ul>
  </div>
</div>

