Service Agreement (part 2)
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
<h3 class="text-center">Additional Services</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3" id="service_list">
      <ul>
    <% @services.each do |service| %>
        <%= render :partial => 'clickable_services_row', locals: {service: service, agreement: @agreement, order_item: @order_item } %>
    <% end %>          
      </ul>
  </div>
</div>

    <%# render :partial => 'form_for_terms_of_service' %>

