<div id="address-modal" class="modal fade"></div>

<div id="account-modal" class="modal fade"></div>

<div id="payment-method-modal" class="modal fade"></div>

<div id="payment-arrangement-modal" class="modal fade"></div>

<div id="order-modal" class="modal fade"></div>

    <%= render :partial => "form" %>


