<p>Hi there,</p>

<p>Thank you for business.  We look forward to seeing you at your next appointment.
</p>
<p>For your future reference, you can find your online copy of your service agreement at:
</p>
<p><%= link_to service_agreement_url(@agreement), @agreement %>
</p>